
{{#each jobEdit}}
<form action="/employer/{{user.jobs}}editJobPost" method="POST">
    <label>Job Title:
          <input type="text" name="jobTitle" value="{{jobTitle}}" />
     </label>
     <label>Company:
          <input type="text" name="company" value="{{company}}" />
        </label>
        <label>Salary:
          <input type="number" name="salary" value="{{salary}}" />
        </label>
        <label>Location:
          <input type="text" name="location" value="{{location}}" />
        </label>
        <label>Description:
          <input type="text" name="description" value="{{description}}" />
        </label>
            <button type="submit" class="btn btn-success">Save changes</button>
</form>
{{/each}}
