<title>Job Edit</title>
<div class="form-container">
  <form action="/employer/{{user._id}}/edit" method="POST" class="the-form job-edit-form">
    <label>Job Title:
      <input type="text" name="jobTitle" value="{{user.jobTitle}}" autofocus>
    </label>

    <label>Company:
      <input type="text" name="company" value="{{user.company}}" />
    </label>

    <label>Location:
      <input type="text" name="location" value="{{user.location}}" />
    </label>

    <textarea rows="4" name="description" cols="50">
{{user.description}}
  
 </textarea>



    <label> Salary:
      <input type="number" name="salary" value="{{user.salary}}" step="10000" />
    </label>

    <button>Save changes</button>
    <a href="/employer/jobs">Cancel</a>
  </form>

</div>