<ul class="list-wrapper">
{{#each user.jobs}}
<li class="company-info">
        <h3 class="list-company-job-title">{{this.jobTitle}}</h3>
        <h4 class="list-company-name">{{this.company}}</h4>
        <p class="list-company-location">{{this.location}}</p>
        <p class="list-company-location">{{this.applicants}}</p>
        <p class="list-company-description">{{this.description}}</p>
        <a href="/employer/{{_id}}/edit">Edit</a>

    </li>
</div>
{{/each}}
<br>
<a href="dashboard">back</a>
</ul>

{{!-- <ul class="list-wrapper">
    {{#if jobs}}
    <p>All results</p>
    {{#each jobs}}
    <li class="company-info">
        <h3 class="list-company-job-title">{{this.jobTitle}}</h3>
        <h4 class="list-company-name">{{this.company}}</h4>
        <p class="list-company-location">{{this.location}}</p>
        <a href="/jobs/{{this._id}}" class="job-details-btn">See description</a>

    </li>
    {{/each}}
    {{else}}
    <p id="no-match-found">No match found</p>
    {{/if}}

    <a href="/" class="back-link">back</a>
</ul> --}}