<html lang="en">

<head>
  <title>{{title}}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <script src="https://kit.fontawesome.com/a0845a7593.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>
  <nav>

    <h3 id="company-name">
      <a href="/" id="logo"> <span>Tech Job Board</span></a>
    </h3>

    <ul>
      <li>
        <a href="/" class="nav-link home-link">Home</a>
      </li>

      {{#if user}}
      {{#if user.contact}}
      <li>
        <a class="nav-link" href="/developer/dashboard"> Profile </a>
      </li>
      <li>
        <form action='/developer/logout' class="nav-form" method="POST">
          <button class="nav-link">Logout</button>
        </form>
        {{!-- <a class="nav-link" href="#">log out </a> --}}
      </li>

      {{else}}
      <li>
        <a class="nav-link" href="/employer/dashboard">Dashboard</a>
      </li>
      <li>
        <form action='/employer/logout' class="nav-form" method="POST">
          <button class="nav-link" id="logout-btn">Logout</button>
        </form>
        {{!-- <a class="nav-link" href="#">log out </a> --}}
      </li>
      {{/if}}
      {{else}}
      <li>
        <a href="/about" class="nav-link">About</a>
      </li>

      <li>
        <a href="/service" class="nav-link">Service</a>
      </li>
      <li class="dropdown">
        <button class="drop-btn">Developer</button>
        <div class="dropdown-content">
          <a href="/developer/signup">Sign up</a>
          <a href="/developer/login">Sign in</a>
        </div>
      </li>

      <li class="dropdown">
        <button class="drop-btn" id="employer-dropdown">Employer</button>
        <div class="dropdown-content">
          <a href="/employer/signup">Sign up</a>
          <a href="/employer/login">Sign in</a>
        </div>
      </li>
      {{/if}}
    </ul>
  </nav>

  {{{body}}}


  <footer>

    <div class="links">
      <ul>
        <li>Developer</li>
        <li>
          <a href="/developer/signup">Sign up</a>
        </li>
        <li>
          <a href="/developer/login">Log in</a>
        </li>
      </ul>

      <ul>
        <li>Employer</li>
        <li>
          <a href="/employer/signup">Sign up</a>
        </li>
        <li>
          <a href="/employer/login">Log in</a>
        </li>

      </ul>

      <ul>
        <li>Company</li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/service">Service</a>
        </li>
      </ul>
      <p id="copy-right">Tech Job Board, inc. &copy; {{year}} All Rights Reserved Worldwide</p>
    </div>

  </footer>
  <script src="/js/script.js"></script>
</body>

</html>