<title>Application</title>
{{#if jobId}}
<div class="form-container">

  <form action="/developer/apply/{{jobId}}" method="POST" class="the-form" id="application">
    <label>First Name:
      <input type="text" name="firstname" value="{{user.firstname}}" autofocus >
    </label>
    <label>Last Name:
      <input type="text" name="lastname" value="{{user.lastname}}" >
    </label>
    <label> Email:
      <input type="text" name="email" cols="30" rows="4" value="{{user.email}}" >
    </label>
    </label>
    <label> Contact:
      <input type="text" name="contact" cols="30" rows="4" value="{{user.contact}}" required >
    </label>
    <label> Resume
      <textarea name="resume" rows="8" cols="50" class="text-area">
{{#if user.resume}}
{{user.resume}}
{{else}}
Full name:
Job:
Education:
Skills:
Contact number:
{{/if}}
</textarea>
    </label>
    <button class="apply-now-btn">Apply</button>
    <a href="/">Cancel</a>
    {{#if errorMessage}}
    <p class="application-error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
{{/if}}

{{#if foundId}}

<div class="form-container">
  <form action="/developer/apply/{{foundId._id}}" method="POST" class="the-form" id="application">
    <label>First Name:
      <input type="text" name="firstname" value="{{user.firstname}}" autofocus >
    </label>

    <label>Last Name:
      <input type="text" name="lastname" value="{{user.lastname}}" >
    </label>
    <label> Email:
      <input type="text" name="email" cols="30" rows="4" value="{{user.email}}" >
    </label>
    <label> Contact:
      <input type="text" name="contact" cols="30" rows="4" value="{{user.contact}}" required >
    </label>
    <label> Resume
      <textarea name="resume" rows="8" cols="50" class="text-area">
{{#if user.resume}}
{{user.resume}}
{{else}}
Full name:
Job:
Education:
Skills:
Contact number:
{{/if}}
</textarea>
    </label>
    <button class="apply-now-btn">Apply</button>
    <a href="/" class="cancel-btn">Cancel</a>
    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
{{/if}}