<title>Resume</title>
{{#if user}}

<h2 class="dashboard-welcome-message">{{user.firstname}} {{user.lastname}} </h2>

<div class="form-container">
  <h2 id="resume-title"> Resume</h2>
  <form action="/developer/createResume" method="POST" class="the-form" id="create-resume-form">
    <textarea name="resume" rows="10" cols="50" class="text-area">
{{#if user.resume}}
{{user.resume}}
{{else}}
Full name:

Job:

Education:

Contact number:

Skills:

{{/if}}
</textarea>
    <button id="create-resume-btn">Save</button>
  </form>

  <a href="/developer/dashboard" class="back-link">back</a>

  {{else }}
  <br>
  <h3 class="para-message">Please log in to view or create resume!</h3>
  {{/if}}