 <title>Developer Sign Up</title>
<a href="/" class="back-link">back</a>
<div class="form-container">
  <h2>Sign up as a Developer</h2>
  {{#if jobId}}
  <a href="/developer/login?applyto={{jobId}}" class="login-link">Already have an account? login</a>
  <form action="/developer/signup?applyto={{jobId}}" method="POST" class="the-form">

    <label> First name
      <input type="text" name="firstname" placeholder="firstname" required autofocus >
    </label>

    <label> Last name
      <input type="text" name="lastname" placeholder="lastname" required>
    </label>

    <label> Contact number:
      <input type="text" name="contact" placeholder="contact number" required>
    </label>


    <label> Email
      <input type="email" name="email" placeholder="email" required>
    </label>

    <label> Password
      <input type="password" name="password" placeholder="********" required>
    </label>

    <button type="submit">Create</button>
    <br>

    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>

</div>

{{else}}
<div class="form-container">
<a href="/developer/login" class="login-link">Already have an account? login</a>
<form action="/developer/signup" method="POST" class="the-form" id="dev-signup-form ">

  <label> First name
    <input type="text" name="firstname" placeholder="John" required autofocus >
  </label>

  <label> Last name
    <input type="text" name="lastname" placeholder="Doe" required>
  </label>

  <label> Contact number:
    <input type="text" name="contact" placeholder="(123) 456-7890" required>
  </label>
  <label> Email
    <input type="email" name="email" placeholder="jane@email.com" required>
  </label>

  <label> Password
    <input type="password" name="password" placeholder="********" required>
  </label>

  <button type="submit">Create</button>
  <br>

{{#if errorMessage}}
  <p class="error">{{errorMessage}}</p>
  {{/if}}
</form>
 {{/if}}
 </div>
