<a href="/" class="back-link">back</a>
{{#each job}}
<div class="job-detail-container">
    <div class="job-info-header">
        <h3 class="job-title">{{this.jobTitle}}</h3>
        <h4 class="job-company">{{this.company}}</h4>
        <p class="job-location">{{this.location}}</p>
    </div>
    <div class="job-info-details">
        <p class="job-salary">{{this.salary}} annually</p>
        <p class="job-work-hours">{{this.workHours}}</p>
        <p class="job-description">{{this.description}}</p>
    </div>

</div>
{{/each}}