<ul>
    {{#if jobs}}
    <p>All results</p>
    {{#each jobs}}
    <li>
        <h3>{{this.jobTitle}}</h3>
        <h3>{{this.company}}</h3>
        <p>{{this.location}}</p>
        <a href="/jobs/{{this._id}}" id="job-description">See description =></a>
    </li>
    {{/each}}
    {{else}}
    <p>No Match found.</p>
    {{/if}}

    {{!-- {{/each}} --}}
</ul>